// Color Variables
@lightgray: #f9f9f9;
@medgray: #dddddd;
@darkgray: #777777;
@darkergray: #222222;

// Kuler palette
@1: #ea6044;
@2: #f8cb4e;
@3: #f5e5c1;
@4: #3f5666;
@5: #303440;

// Fonts
@opensans: 'Open Sans', sans-serif;

// Includes
@import url(/light/css/less/homepage.less);
@import url(/light/css/less/grid.less);
@import url(/light/css/less/batbelt.less);
@import url(/light/css/less/responsive.less);
@import url(/light/css/less/sidr.less);