// Variables
@lightgray: #f9f9f9;
@medgray: #dddddd;
@darkgray: #777777;
@opensans: 'Open Sans', sans-serif;

// Body styles
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
	font-family: @opensans;
	color: @darkgray;
    background: white;
    margin: 0 auto;
    padding: 0;
}

.container {
	display: block;
	position: relative;
	height: auto;
	overflow: hidden;
	
	.row {
		display: block;
		position: relative;
		height: auto;
		margin: 0;
		padding: 0;
	}
}

.row:after {clear:both;}

.col-1, .col-2, .col-3, .col-4 {
	padding: 5px;
	background: @medgray;
	margin-bottom: 20px;
	.border-radius(3px);
}

.clearfix {clear:both;}

header {
	height: 50px;
	border-top: 1px solid @darkgray;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 20px;
	
	.col-1 {
		padding: 12px 0;
		background: transparent;
		margin-bottom: 0;
	}
}

.video-holder {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    display: block;
    .border-radius(3px);
	
	iframe, object, embed {
		.border-radius(3px);
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}

footer {
	position: relative;
	width: 100%;
	height: 100px;
	display: block;
	background-color: @darkgray;
	color: white;
	
	.col-1 {
		padding: 12px 0;
		background: transparent;
		margin-bottom: 0;
	}
}

// Includes
@import url(/light/css/less/grid.less);
@import url(/light/css/less/batbelt.less);