// Color variables
@yellow: #ffcd21;
@light-yellow: #ffeba6;
@blue: #042c3f;

// Fonts
@opensans: 'Open Sans', sans-serif;

// LESS includes
@import url(/executionists.com/css/less/grid.less);
@import url(/executionists.com/css/less/batbelt.less);
@import url(/executionists.com/css/less/header.less);
@import url(/executionists.com/css/less/footer.less);
@import url(/executionists.com/css/less/base.less);