*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
	font-family: @opensans;
	font-weight: 100;
	color: @darkgray;
    background: white;
    margin: 0 auto;
    padding: 0;
    transition: all .2s linear; 
    -o-transition: all .2s linear; 
    -moz-transition: all .2s linear; 
    -webkit-transition: all .2s linear;
}

.container {
	display: block;
	position: relative;
	height: auto;
	overflow: hidden;
	
	.row {
		display: block;
		position: relative;
		height: auto;
		margin: 0;
		padding: 0;
		
		&:after {clear:both;}
	}
}

.col-1, .col-2, .col-3, .col-4 {
	padding: 5px;
	margin-bottom: 20px;
	.border-radius(3px);
}

.col-1 {
	color: white;
	background: @1;
}

.col-1.main-video {
    background: @3;
}

.col-2 {
    color: white;
    background: @2;
}

.col-3 {
	color: white;
	background: @4;
}

.col-4 {
	color: white;
	background: @5;
}

.clearfix {clear:both;}

header {
	position: static;
	z-index: 101;
	width: 100%;
	height: 68px;
	border-top: 1px solid @darkgray;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 20px;
	background: @lightgray;
	
	.col-1 {
		color: @4;
		padding: 12px 5px;
		background: transparent;
		margin-bottom: 0;
		
		ul {
			margin-top: 8px;
			list-style-type: none;
			
			li {
				display: inline-block;
				margin-left: 20px;
				
				a {
					color: inherit;
					transition: color .2s linear; 
				    -o-transition: color .2s linear; 
				    -moz-transition: color .2s linear; 
				    -webkit-transition: color .2s linear;
					text-decoration: none;
					
					&:hover {
						color: @1;
					}
				}
				
				i {
					font-size: 18px;
					position: relative;
					top: 2px;
					left: -4px;
				}
			}
		}
	}
}

.video-holder {
	position: relative;
	z-index: 99;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    display: block;
    .border-radius(3px);
    background: @3;
	
	iframe, object, embed {
		.border-radius(3px);
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
	
	#picture-in-picture {
		position: absolute;
		width: 20%;
		height: 20%;
		top: -5px;
	    right: -5px;
		z-index: 100;
		
		.video-holder-sm {
			position: relative;
		    padding-bottom: 56.25%;
		    padding-top: 30px;
		    height: 0;
		    overflow: hidden;
		    display: block;
		    .border-radius(3px);
			
			iframe, object, embed {
				.border-radius(3px);
				border: 5px solid @3;
				position: absolute;
			    top: -5px;
			    right: -5px;
			    width: 100%;
			    height: 100%;
			}
		}
	}
}

footer {
	position: relative;
	width: 100%;
	height: 200px;
	display: block;
	background: @darkergray;
	color: white;
	
	.col-1 {
		padding: 12px 5px;
		background: transparent;
		margin-bottom: 0;
		
		ul {
			margin-top: 0;
			list-style-type: none;
			
			li {
				display: inline-block;
				margin-left: 20px;
			}
		}
	}
}