*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

html {
    margin: 0;
    padding: 0;
}

body {
	font-family: @opensans;
	font-weight: 100;
	color: @darkgray;
    background: white;
    margin: 0 auto;
    padding: 0;
    transition: all .2s linear; 
    -o-transition: all .2s linear; 
    -moz-transition: all .2s linear; 
    -webkit-transition: all .2s linear;
}

.container {
	display: block;
	position: relative;
	height: auto;
	overflow: hidden;
	
	.row {
		display: block;
		position: relative;
		height: auto;
		margin: 0;
		padding: 0;
		overflow: hidden;
		
		&:after {clear:both;}
	}
}

.col-1, .col-2, .col-3, .col-4 {
	padding: 5px;
	margin-bottom: 20px;
	.border-radius(3px);
}

.col-1 {color: white; background: @1;}

.col-1.main-video {background: @1;}

.col-2 {color: @5; background: @3;}

.col-3 {color: white; background: @2;}

.col-4 {color: white; background: @4;}

.clearfix {clear:both;}

header {
	position: static;
	z-index: 101;
	width: 100%;
	height: 68px;
	border-top: 1px solid @darkgray;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 20px;
	background: @lightgray;
	
	.col-1 {
		color: @4;
		padding: 12px 0;
		background: transparent;
		margin-bottom: 0;
		
		ul {
			margin-top: 8px;
			list-style-type: none;
			
			li {
				display: inline-block;
				margin-left: 2px;
				
				a {
					color: inherit;
					background-color: @lightgray;
                    padding: 6px 17px 8px 20px;
                    .border-radius(3px);
					transition: background-color .2s linear; 
				    -o-transition: background-color .2s linear; 
				    -moz-transition: background-color .2s linear; 
				    -webkit-transition: background-color .2s linear;
					text-decoration: none;
					
					&:hover {
						color: white;
						background-color: @1;
					}
				}
				
				i {
					font-size: 18px;
					position: relative;
					top: 2px;
					left: -4px;
				}
			}
			li:first-child {margin-left: -30px;}
		}
	}
}

.video-holder {
	position: relative;
	z-index: 99;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    display: block;
    .border-radius(3px);
    background: @3;
	
	iframe, object, embed {
		.border-radius(3px);
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
	
	#picture-in-picture {
		position: absolute;
		width: 20%;
		height: 20%;
		top: -5px;
	    right: -5px;
		z-index: 100;
		
		.video-holder-sm {
			position: relative;
		    padding-bottom: 56.25%;
		    padding-top: 30px;
		    height: 0;
		    overflow: hidden;
		    display: block;
		    .border-radius(3px);
			
			iframe, object, embed {
				.border-radius(3px);
				border: 5px solid @1;
				position: absolute;
			    top: -5px;
			    right: -5px;
			    width: 100%;
			    height: 100%;
			}
		}
	}
}

footer {
	position: relative;
	width: 100%;
	height: 200px;
	display: block;
	background: @5;
	color: white;
	
	.col-1 {
		padding: 12px 5px;
		background: transparent;
		margin-bottom: 0;
		
		ul {
			margin-top: 0;
			list-style-type: none;
			
			li {
				display: inline-block;
				margin-left: 20px;
			}
		}
	}
}

.col-1.list, .col-2.list {
    padding: 0;
}

ul.plain-list {
    list-style-type: none;
    background: @lightgray;
    color: @darkergray;
    margin: 0;
    padding: 0;
    
    li {
        padding: 15px 20px;
        &:hover {
            color: white;
            background: @darkgray !important;
            cursor: pointer;
        }
                
        .left {
            float: left;
            display: inline-block;
        }
        
        .right {
            float: right;
            display: inline-block;
        }
    }
    
    li:nth-child(odd) {
        background: @lightgray;
    }
    
    li:nth-child(even) {
        background: @6;
    }
    
    li:last-child {
        .border-radiuses(0px, 0px, 3px, 3px);
    }
    
    li:first-child {
        background: @4;
        color: white;
        .border-radiuses(3px, 3px, 0px, 0px);
        &:hover {
            background: @4 !important;
            color: white;
            cursor: default;
        }
        .right {font-size: 20px;}
    }
}

ul.picture-list {
    list-style-type: none;
    background: @lightgray;
    color: @darkergray;
    margin: 0;
    padding: 0;
    
    li {
        padding: 15px 20px;
        &:hover {
            color: white;
            background: @darkgray !important;
            cursor: pointer;
        }
                
        .left {
            float: left;
            display: inline-block;
            
            img {
                .border-radius(50%);
                height: 50px;
                position: relative;
                top: 3px;
                margin-right: 20px;
            }
            .item-text {
                display: inline-block;
                position: relative;
                top: -17px;
            }
        }
        
        .right {
            float: right;
            display: inline-block;
            position: relative;
            top: 15px;
        }
    }
    
    li:nth-child(odd) {
        background: @lightgray;
    }
    
    li:nth-child(even) {
        background: @6;
    }
    
    li:last-child {
        .border-radiuses(0px, 0px, 3px, 3px);
    }
    
    li:first-child {
        background: @1;
        color: white;
        .border-radiuses(3px, 3px, 0px, 0px);
        &:hover {
            background: @1 !important;
            color: white;
            cursor: default;
        }
        .right {font-size: 20px;}
    }
}

.col-1.calendar {
    padding: 5px;
    table {
        display: block;
        width: 100%;
        caption {
            width: 100%;
            display: block;
            text-align: center;
        }
        tbody {
            width: 100%;
            display: block;
            tr {
                display: block;
                width: 100%;
                td.day {
                    color: @1;
                    background-color: white;
                    border-left: 5px solid @1;
                    margin-bottom: 5px;
                    padding: 2px 5px;
                }
                td.day:first-child {border-left: none;}
                th, td {
                    text-align: left;
                    display: inline-block;
                    width: percentage(1/7);
                }
            }
            tr:last-child {margin-bottom: -5px;}
        }
    }
}